body .header {
  margin-bottom: 40px; }
  body .header .could-do-it {
    font-size: 6rem; }
  body .header .tasker {
    background: slateblue; }
    body .header .tasker .wont-do-it {
      display: block;
      font-size: 4rem; }
      body .header .tasker .wont-do-it .tasker-name-container {
        color: #ee5f5b; }
  body .header div {
    text-align: center;
    font-size: 12rem; }
  body .header .counter-container {
    margin: 0 auto; }
    body .header .counter-container .counter .description {
      font-size: 6rem; }
      body .header .counter-container .counter .description .task-word {
        color: #5bc0de; }
      body .header .counter-container .counter .description .assignees-word {
        color: #ee5f5b; }

body .container .menu-button:first-child {
  margin-right: 25px; }

body .container .menu-button {
  font-size: 3rem;
  padding: 20px; }

body .container table thead tr th {
  text-align: center;
  font-size: 4rem; }

body .container table tbody tr td {
  text-align: center; }

body .container .tasks-table {
  margin-top: 20px; }

body .container .assignees-table {
  margin-top: 20px; }
  body .container .assignees-table tbody td span {
    display: block; }

body .container .search-container {
  display: block;
  float: right;
  margin-top: 15px; }
  body .container .search-container input,
  body .container .search-container input:focus {
    border: none;
    background: #272b30; }
  body .container .search-container input {
    animation: blink-empty .75s infinite;
    border-left: transparent solid 3px;
    margin: 3px;
    height: 84px;
    color: white;
    font-size: 4rem; }
  body .container .search-container .input-group-addon {
    background: #272b30;
    border: none; }
    body .container .search-container .input-group-addon i {
      font-size: 4rem; }

@keyframes blink-empty {
  50% {
    border-left: 1px solid white; } }

body #datepicker,
body #datepicker2 {
  display: block; }

@media only screen and (max-width: 768px) {
  .search-container {
    width: 100%; } }
