body .header div {
  text-align: center;
  font-size: 12rem; }

body .container .tasks-table {
  margin-top: 20px; }

body .container .assignees-table {
  margin-top: 20px; }
  body .container .assignees-table tbody td span {
    display: block; }
