<div class="container">

  <a data-toggle="modal" data-target="#createAssignee" class="btn btn-danger menu-button"><i class="fa fa-plus" aria-hidden="true"></i> Create an Assignee</a>
  <!-- Modal -->
  <div class="modal fade" id="createAssignee" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create an Assignee</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label>Assignee Name</label>
              <input type="text" class="form-control" id="formAssigneeName" placeholder="Really awesome name here" ng-model="formAssigneeName">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="submitAssignee()">Submit</button>
        </div>
      </div>
    </div>
  </div>

  <a data-toggle="modal" data-target="#assignTask" class="btn btn-danger menu-button"> <i class="fa fa-user" aria-hidden="true"></i> Assign a Task</a>
  <!-- Modal -->
  <div class="modal fade" id="assignTask" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Assign a Task</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label for="formAssigneeName">Assignee Name</label>
              <select class="form-control" ng-options="assignee as assignee.name for assignee in assignees" ng-model="formAssignee"> </select>
            </div>
            <div class="form-group">
              <label for="formTaskId">Task ID</label>
              <select class="form-control" ng-model="formTaskId">
                <option ng-repeat="task in tasks">{{task._id}}</option>
              </select>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="assignTasks()">Submit</button>
        </div>
      </div>
    </div>
  </div>

   <div class="form-group search-container">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input type="text" class="form-control" ng-model="searchAssignees">
    </div>      
  </div>

  <table class="assignees-table table table-hover">
    <thead>
      <tr class="danger">
        <th>ID</th>
        <th>Name</th>
        <th>Jobs</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="assignee in assignees  | filter:searchAssignees">
        <td>{{assignee._id}}</td>
        <td>{{assignee.name}}</td>
        <td>
            <span ng-repeat="job in assignee.jobs"> {{job}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

