body {
  .header {
    div {
      text-align: center;
      font-size: 12rem;
    }
  }
  .container {
    .tasks-table {
      margin-top: 20px;
    }
    .assignees-table {
      margin-top: 20px;
      tbody {
        td {
          span {
            display: block;
          }
        }
      }
    }
  }
}
