$thisblue: #5bc0de;
$thisred: #ee5f5b;

body {
  .header {
     margin-bottom: 40px;
    .tasker {
      background: slateblue;
    }
    div {
      text-align: center;
      font-size: 12rem;
    }
    .counter-container {
      margin: 0 auto;
      .counter {
        .description {
          font-size: 6rem;
          .task-word {
            color: $thisblue;
          }
          .assignees-word {
            color: $thisred;
          }
        }
      }
    }
  }
  .container {
    .menu-button {
      font-size: 3rem;
      padding: 20px;
    }
    table {
      thead {
        tr {
          th {
            text-align: center;
            font-size: 4rem;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
          }
        }
      }
    }
    .tasks-table {
      margin-top: 20px;
    }
    .assignees-table {
      margin-top: 20px;
      tbody {
        td {
          span {
            display: block;
          }
        }
      }
    }
  }
  #datepicker, #datepicker2 {
    display: block;
  }
}
